<h1>{{ blog.title }}</h1>
<div>{{ blog.content | safe}}</div>
{% if user == blog.author%}
    <a href="{% url 'blogs:blog-edit' blog.pk %}">Edit Blog</a>
    <a href="{% url 'blogs:blog-delete' blog.pk %}">Delete Blog</a>
{% endif %}

<h3>Comments</h3>
{% for comment in comments %}
    <div>
        <p>{{ comment.author }} :</p>
        <p>{{ comment.content }}</p>
        <p>At: {{ comment.created_at }}</p>
    </div>
    {% if user == comment.user %}
        <a href="{% url 'blogs:comment-edit' comment.pk %}">Edit Comment</a>
        <a href="{% url 'blogs:comment-delete' comment.pk %}">Delete Comment</a>
    {% endif %}
{% empty %}
    <p>Aún no existen comentarios</p>
{% endfor %}


{% if form %}
    <h3>Add a Comment</h3>
    <form method="post" action="{% url 'blogs:blog-detail' blog.pk %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Comentar</button>
    </form>
{% endif %}